body {
  font-family: Arial, sans-serif;
}

.navbar {
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0px;
  position: relative;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-center {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex: 1;
}

.nav-link {
  color: #4b5563;
  text-decoration: none;
  font-size: 16px;
}

.nav-link:hover {
  color: #f97316;
}

.hero-banner {
  padding: 24px;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
}

.hero-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

a.clean-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

a.clean-link:visited {
  color: black;
}

.logo {
  height: 32px;
  width: 32px;
  margin-bottom: 5px
}

.field-row {
  display: flex;
  align-items: center;
}

.field-row label {
  width: 160px;
}

.fielddelivery-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.fielddelivery-row label {
  margin: 0;
  white-space: nowrap; /* prevents text wrap */
}

/* Container for all the selection blocks */
#selections-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* Each selection block takes 50% of the screen */
.selection-block {
  flex: 0 0 50%;
  max-width: 50%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 15px;
  background: #fafafa;
}

.selection-block .section-title,
.selection-block table,
.selection-block label {
  font-size: 14px;
}

label, select, pre {
  display: block;
  margin: 10px 0;
}

.section-title {
  font-weight: bold;
  margin-top: 1em;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
}

td, th {
  border: 1px solid #aaa;
  padding: 6px;
}

input[type="checkbox"] {
  margin-right: 6px;
}

pre {
  font-family: Arial, sans-serif;
  white-space: pre-wrap;
  word-break: break-word;
}
table td {
  padding: 4px;
}
.menu-table td {
  width: 33%;
  vertical-align: top;
}
#selections-container table[id^="cost-summary-"] td:last-child {
  text-align: right;
}