# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env"
# should be updated accordingly.

APP_PROTOCOL="http"
APP_URL="localhost:3000"

//Block when the editor data is newer than the saved data by X seconds - Buffer needed for network lag
NEXT_PUBLIC_TAB_CONFLICT_TIMEOUT=30

// For SGID integration
SGID_CLIENT_ID="mockpass"
SGID_CLIENT_SECRET="00000000000000000000000000000000"
SGID_PRIVATE_KEY="<get from https://github.com/cflee/mockpass/blob/master/static/certs/key.pem>"
SGID_HOSTNAME="https://mockpass-pocdex.app.airbase.sg/"
SGID_OPENID_CONFIG="https://mockpass-pocdex.app.airbase.sg/v2"

// NextAuth variables
AUTH_SECRET="XXX"

//used by Prisma
DATABASE_URL=postgresql://feedback:passw0rd@localhost:5432/feedback

//true = log all query to console, Default: false
LOG_QUERY=false

// for Techpass
AUTH_TECHPASS_DIRECTORY_ID=X
AUTH_TECHPASS_APPLICATION_ID=X
AUTH_TECHPASS_SECRET=X

// feature flags
FEATURE_FLAG_MOCKPASS="true"
